@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/OpenSansRegular/OpenSansRegular.woff') format('woff');
    src: url('../fonts/OpenSansRegular/OpenSansRegular.eot'),
         url('../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix')format('embedded-opentype'),
         url('../fonts/OpenSansRegular/OpenSansRegular.ttf') format('truetype');
}

body {
    background-color: #f9f9f9;
    font: 13px 'Open Sans', sans-serif;
}

.wrapper {
    width: 1059px;
    margin: 0 auto;
    padding-bottom: 60px;
    background-color: #fff;
    box-shadow: -5px 0 5px -5px rgba(0, 0, 0, .3),
                 5px 0 5px -5px rgba(0, 0, 0, .3);
}

.container {
    width: 967px;
    margin: 0 auto;
}

header {
    height: 170px;
    margin-bottom: 40px;
}

.logo {
    padding: 50px 0 36px;
}

.main-menu {
    background-image: linear-gradient(90deg, rgb(68, 67, 67) 0%, rgb(94, 94, 94) 100%);
}

.main-menu li {
    display: inline-block;
    margin: 0 35px 0 0;
}

.main-menu a {
    display: block;
    padding: 9px 23px 10px;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    text-shadow: .5px 1px 1px rgb(0, 0, 0);
}

.main-menu a:hover {
    padding: 9px 22px 10px;
    border-right: 1px solid #838383;
    border-left: 1px solid #838383;
    background-image: linear-gradient(90deg, rgb(46, 46, 46) 0%, rgb(74, 74, 74) 100%);
}

.left-menu {
    width: 240px;
    margin-right: 46px;
    float: left;
    border-top: 1px solid rgb(200, 200, 200);
    border-right: 1px solid rgb(200, 200, 200);
    border-left: 1px solid rgb(200, 200, 200);
    box-sizing: border-box;
}

.left-menu li {
    border-bottom: 1px solid rgb(200, 200, 200);
}

.left-menu a {
    display: block;
    padding: 11px 0 10px 22px;
    color: #656363;
    text-decoration: none;
}

.left-menu a:hover {
    padding: 11px 0 10px 34px;
    background: #f9f9f9;
    color: #2c2c2c;
}

.content {
    width: 679px;
    margin-bottom: 53px;
    float: right;
    overflow: hidden;
}

.image {
    height: 352px;
    margin-bottom: 33px;
    padding-top: 46px;
    border: 1px solid rgb(200, 200, 200);
    text-align: center;
}

.description {
    padding: 0 24px;
    color: #2c2c2c;
    line-height: 22px;
}

.bottom-menu {
    clear: both;
    background-color: #e1e1e1;
}

.bottom-menu ul {
    float: left;
}

.bottom-menu ul li {
    display: inline-block;
    margin: 0 66px 0 25px;
}

.bottom-menu ul li:last-child {
    margin-right: 0;
}

.bottom-menu a {
    color: #2c2c2c;
    font-size: 13px;
    line-height: 40px;
    text-decoration: none;
}

.bottom-menu a:hover {
    text-decoration: underline;
}

.copyright {
    margin: 11px 25px 10px 0;
    float: right;
    color: #2c2c2c;
    letter-spacing: .19px;
}
